In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('users.csv', header=None, names=["UserID", "PersonaID", "CohortID"])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
UserID       1000000 non-null int64
PersonaID    1000000 non-null int64
CohortID     1000000 non-null int64
dtypes: int64(3)
memory usage: 22.9 MB

In [4]:
df.head()

   UserID  PersonaID  CohortID
0  124749        198     28822
1  667433        285     27667
2    2121        429     32220
3  514578         94     13190
4  644519        129     18649

In [5]:
# How many unique users?

df['UserID'].nunique()

1000000

In [6]:
# How many unique personas?

df['PersonaID'].nunique()

500

In [7]:
# How many unique cohorts?

df['CohortID'].nunique()

33748

In [8]:
# Average number of users in each cohort?

df['UserID'].nunique() / df['CohortID'].nunique()

29.631385563588953

In [9]:
# Number of users in each Cohort: mean, min, max, etc.
cohort_counts = df['CohortID'].value_counts()
cohort_counts.describe()

count    33748.000000
mean        29.631386
std         39.164270
min          1.000000
25%         11.000000
50%         21.000000
75%         36.000000
max       1650.000000
Name: CohortID, dtype: float64

In [10]:
# Further stats about each cohort

rows = []

for cohortID in df['CohortID'].unique():
    
    _tmp = df[df['CohortID'] == cohortID]
    
    _persona_counts = _tmp['PersonaID'].value_counts()
    
    _num_users = _tmp.shape[0]
    
    row = {
        'CohortID': cohortID,
        'NumUsers': _num_users,
        'NumPersonas': _tmp['PersonaID'].nunique(),
        'PersonaCount_Max': _persona_counts.max(),
        'PersonaCount_Mean': _persona_counts.mean(),
        'PersonaCount_Min': _persona_counts.min(),
        'PersonaCount_EQ1': sum(_persona_counts == 1),
        'PersonaCount_GT1': sum(_persona_counts > 1),
        'PersonaCount_GT5': sum(_persona_counts > 5),
    }
    rows.append(row)

p = pd.DataFrame(rows, columns=list(row.keys()))

p.sort_values('PersonaCount_Mean', ascending=False)

,CohortID,NumUsers,NumPersonas,PersonaCount_Max,PersonaCount_Mean,PersonaCount_Min,PersonaCount_EQ1,PersonaCount_GT1,PersonaCount_GT5
900,594,1391,29,458,47.965517,1,20,9,4
623,14689,493,16,462,30.812500,1,10,6,3
264,27607,1650,62,751,26.612903,1,30,32,17
2307,1199,310,12,146,25.833333,1,6,6,3
270,19176,946,38,443,24.894737,1,22,16,5
124,9147,503,22,479,22.863636,1,18,4,1
256,6570,911,40,733,22.775000,1,12,28,13
1975,14516,1075,50,690,21.500000,1,22,28,18
2734,5851,644,32,457,20.125000,1,15,17,6
287,7724,1015,55,685,18.454545,1,25,30,17
730,15428,606,36,146,16.833333,1,7,29,14
49,22907,548,34,485,16.117647,1,22,12,2
1410,18665,300,19,269,15.789474,1,9,10,1
597,24737,581,38,361,15.289474,1,24,14,5
100,7316,617,41,151,15.048780,1,13,28,14
2009,22476,525,35,480,15.000000,1,28,7,1
2336,22609,524,37,442,14.162162,1,25,12,6
405,12553,537,44,480,12.204545,1,35,9,1
13732,22411,48,4,43,12.000000,1,2,2,1
6760,19954,199,17,102,11.705882,1,12,5,2
1537,29305,270,24,133,11.250000,1,21,3,2
2521,13366,326,30,274,10.866667,1,19,11,2
1253,5893,575,53,160,10.849057,1,12,41,24
12,5873,362,34,283,10.647059,1,23,11,4
614,22905,754,72,148,10.472222,1,24,48,37
1601,2007,446,43,332,10.372093,1,28,15,2
20,16095,134,13,60,10.307692,1,9,4,3
6616,22405,132,13,61,10.153846,1,9,4,2
1359,995,664,66,155,10.060606,1,25,41,22
731,33377,331,33,143,10.030303,1,8,25,14
...,...,...,...,...,...,...,...,...,...
23656,29670,7,7,1,1.000000,1,7,0,0
23661,25669,8,8,1,1.000000,1,8,0,0
23666,33805,1,1,1,1.000000,1,1,0,0
23682,2542,9,9,1,1.000000,1,9,0,0
23685,17292,19,19,1,1.000000,1,19,0,0
23692,19352,4,4,1,1.000000,1,4,0,0
23697,28903,14,14,1,1.000000,1,14,0,0
23699,15186,12,12,1,1.000000,1,12,0,0
23701,24237,7,7,1,1.000000,1,7,0,0
23703,19733,4,4,1,1.000000,1,4,0,0
23637,25090,9,9,1,1.000000,1,9,0,0
23629,27575,10,10,1,1.000000,1,10,0,0
23572,24598,7,7,1,1.000000,1,7,0,0
23624,17230,6,6,1,1.000000,1,6,0,0
23573,26152,4,4,1,1.000000,1,4,0,0
23574,18315,5,5,1,1.000000,1,5,0,0
23577,23016,15,15,1,1.000000,1,15,0,0
23578,26730,3,3,1,1.000000,1,3,0,0
23581,33655,10,10,1,1.000000,1,10,0,0
23583,18194,28,28,1,1.000000,1,28,0,0
23585,14292,4,4,1,1.000000,1,4,0,0
23595,25809,9,9,1,1.000000,1,9,0,0
23596,18279,12,12,1,1.000000,1,12,0,0
23597,20765,9,9,1,1.000000,1,9,0,0
23604,12438,9,9,1,1.000000,1,9,0,0
23611,40,5,5,1,1.000000,1,5,0,0
23612,20793,14,14,1,1.000000,1,14,0,0
23614,25649,4,4,1,1.000000,1,4,0,0
23622,1409,5,5,1,1.000000,1,5,0,0
33747,28082,1,1,1,1.000000,1,1,0,0

In [11]:
# Further stats about each Persona

rows = []

for personaID in df['PersonaID'].unique():
    
    _tmp = df[df['PersonaID'] == personaID]
    
    _cohort_counts = _tmp['CohortID'].value_counts()
    
    _num_users = _tmp.shape[0]
    
    row = {
        'PersonaID': personaID,
        'NumUsers': _num_users,
        'NumCohorts': _tmp['CohortID'].nunique(),
        'CohortCount_Max': _cohort_counts.max(),
        'CohortCount_Mean': _cohort_counts.mean(),
        'CohortCount_EQ1': sum(_cohort_counts == 1),
        'CohortCount_GT1': sum(_cohort_counts > 1),
        'CohortCount_GT5': sum(_cohort_counts > 5),
    }
    rows.append(row)

p = pd.DataFrame(rows, columns=list(row.keys()))

p.sort_values('NumUsers')

,PersonaID,NumUsers,NumCohorts,CohortCount_Max,CohortCount_Mean,CohortCount_EQ1,CohortCount_GT1,CohortCount_GT5
132,38,1889,1621,7,1.165330,1447,174,8
168,364,1890,1385,13,1.364621,1112,273,25
334,70,1898,1516,11,1.251979,1292,224,14
442,282,1899,808,86,2.350248,640,168,56
262,248,1901,1670,9,1.138323,1520,150,6
407,124,1903,577,274,3.298094,408,169,49
480,467,1911,1460,16,1.308904,1216,244,17
458,191,1911,1485,14,1.286869,1253,232,18
441,228,1911,816,57,2.341912,621,195,62
433,149,1912,1473,10,1.298031,1229,244,20
313,387,1916,1490,16,1.285906,1254,236,17
310,402,1918,1529,12,1.254415,1308,221,14
467,498,1918,1564,12,1.226343,1345,219,10
427,326,1919,1434,10,1.338215,1176,258,24
339,346,1919,1577,9,1.216867,1359,218,10
242,63,1919,1508,16,1.272546,1295,213,18
273,150,1920,1496,12,1.283422,1249,247,16
207,113,1920,1530,13,1.254902,1321,209,16
52,186,1921,998,23,1.924850,731,267,61
157,424,1921,697,131,2.756098,528,169,42
67,350,1924,1467,14,1.311520,1230,237,23
183,284,1924,1587,10,1.212350,1390,197,15
117,72,1924,718,685,2.679666,528,190,31
426,388,1924,1537,9,1.251789,1308,229,12
204,321,1927,1583,10,1.217309,1378,205,14
293,252,1929,1593,10,1.210923,1399,194,17
184,276,1929,1524,12,1.265748,1290,234,17
434,78,1931,1571,10,1.229153,1367,204,19
28,201,1932,1588,12,1.216625,1396,192,20
456,18,1933,873,61,2.214204,659,214,38
...,...,...,...,...,...,...,...,...
94,125,2070,1451,14,1.426602,1132,319,30
447,297,2070,1614,11,1.282528,1372,242,23
377,351,2070,1746,8,1.185567,1558,188,13
114,192,2072,1743,8,1.188755,1537,206,13
416,396,2073,1133,458,1.829656,976,157,4
321,82,2073,1676,12,1.236874,1437,239,14
289,16,2073,1706,10,1.215123,1475,231,9
13,400,2073,1564,18,1.325448,1303,261,18
31,335,2074,1584,18,1.309343,1318,266,19
200,24,2074,1244,22,1.667203,920,324,38
104,458,2075,877,58,2.366021,676,201,65
23,305,2076,1415,18,1.467138,1094,321,29
479,112,2078,1471,12,1.412644,1158,313,30
17,376,2078,733,109,2.834925,529,204,49
370,100,2080,1653,13,1.258318,1434,219,17
103,271,2084,1684,14,1.237530,1459,225,13
152,50,2084,1662,13,1.253911,1414,248,18
180,243,2084,1752,17,1.189498,1576,176,13
261,144,2089,1611,10,1.296710,1353,258,19
481,52,2091,1568,12,1.333546,1304,264,30
174,42,2092,1559,22,1.341886,1280,279,22
295,85,2093,942,269,2.221868,751,191,22
81,196,2096,1542,18,1.359274,1271,271,24
324,151,2098,1666,12,1.259304,1422,244,12
41,353,2104,1534,16,1.371578,1269,265,31
484,235,2106,1247,31,1.688853,973,274,48
65,462,2108,1498,21,1.407210,1217,281,30
466,216,2126,1262,26,1.684628,946,316,46
335,399,2132,1633,12,1.305573,1366,267,21
9,173,2132,1462,24,1.458276,1146,316,23