In [72]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import ast

In [73]:
df = pd.read_csv('out/sim3_user_weeks.csv')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                1000 non-null   int64
 1   num_unique_cohort_ids  1000 non-null   int64
 2   per_unique_cohort_ids  1000 non-null   float64
 3   per_same_cohort_ids    1000 non-null   float64
 4   cohort_ids             1000 non-null   object
dtypes: float64(2), int64(2), object(1)
memory usage: 39.2+ KB

In [75]:
df['cohort_ids'] = df['cohort_ids'].apply(lambda x: ast.literal_eval(x))

In [76]:
df.sort_values('cohort_ids')

,user_id,num_unique_cohort_ids,per_unique_cohort_ids,per_same_cohort_ids,cohort_ids
214,214,9,0.173077,0.826923,"[162, 642, 162, 162, 169, 642, 162, 169, 162, ..."
301,301,14,0.269231,0.730769,"[316, 321, 316, 316, 316, 316, 269, 269, 316, ..."
480,480,7,0.134615,0.865385,"[487, 487, 487, 487, 8043, 495, 487, 8035, 495..."
877,877,22,0.423077,0.576923,"[487, 487, 598, 598, 2240, 4374, 487, 487, 487..."
959,959,14,0.269231,0.730769,"[497, 13575, 4171, 11608, 4171, 4171, 4120, 60..."
...,...,...,...,...,...
908,908,7,0.134615,0.865385,"[30983, 20097, 20130, 20097, 20097, 20097, 200..."
46,46,20,0.384615,0.615385,"[31640, 32504, 32504, 22489, 32498, 21748, 224..."
484,484,12,0.230769,0.769231,"[32477, 32477, 32477, 32477, 22486, 22469, 324..."
224,224,14,0.269231,0.730769,"[32505, 22491, 32505, 32505, 22320, 32731, 224..."
327,327,21,0.403846,0.596154,"[33845, 6202, 7172, 6220, 6220, 6220, 4152, 71..."

In [78]:
df.iloc[0,:].cohort_ids

[3712,
 3711,
 3712,
 3712,
 3712,
 3713,
 3712,
 3712,
 3892,
 3712,
 3492,
 3712,
 3712,
 4306,
 4254,
 3712,
 3712,
 3712,
 3712,
 3889,
 3649,
 3712,
 3892,
 3391,
 3712,
 3712,
 3712,
 3712,
 3712,
 3712,
 3712,
 3393,
 3712,
 3712,
 3712,
 3712,
 3492,
 4254,
 3712,
 3712,
 3712,
 3712,
 3712,
 4306,
 3712,
 3393,
 3712,
 4306,
 3712,
 3712,
 3712,
 3649]

In [79]:
df['num_unique_cohort_ids'].describe()

count    1000.000000
mean        8.618000
std         4.324902
min         1.000000
25%         5.000000
50%         8.000000
75%        11.000000
max        27.000000
Name: num_unique_cohort_ids, dtype: float64

In [80]:
df['per_same_cohort_ids'].describe()

count    1000.000000
mean        0.834269
std         0.083171
min         0.480769
25%         0.788462
50%         0.846154
75%         0.903846
max         0.980769
Name: per_same_cohort_ids, dtype: float64

In [82]:
df['cohort_ids'].apply(lambda x: x[0:2])

0        [3712, 3711]
1      [19332, 19315]
2      [19899, 19899]
3       [4404, 20044]
4        [4161, 4171]
            ...
995      [4300, 4476]
996    [29588, 29497]
997      [4476, 4476]
998      [4254, 4304]
999    [19908, 20137]
Name: cohort_ids, Length: 1000, dtype: object

In [84]:
for weeks in [int(i) for i in np.arange(1, 53, step=1, dtype=int)]:
    df['hash_{}'.format(weeks)] = df['cohort_ids'].apply(lambda x: hash(tuple(x[0:weeks])))
    num = df['hash_{}'.format(weeks)].nunique()
    per = 100 * (num / df.shape[0])
    print("First {:2d} weeks: {:5d} / {:6d} = {:.1f}% unique".format(weeks, num, df.shape[0], per ))

First  1 weeks:   402 /   1000 = 40.2% unique
First  2 weeks:   745 /   1000 = 74.5% unique
First  3 weeks:   853 /   1000 = 85.3% unique
First  4 weeks:   912 /   1000 = 91.2% unique
First  5 weeks:   943 /   1000 = 94.3% unique
First  6 weeks:   957 /   1000 = 95.7% unique
First  7 weeks:   965 /   1000 = 96.5% unique
First  8 weeks:   973 /   1000 = 97.3% unique
First  9 weeks:   980 /   1000 = 98.0% unique
First 10 weeks:   987 /   1000 = 98.7% unique
First 11 weeks:   988 /   1000 = 98.8% unique
First 12 weeks:   988 /   1000 = 98.8% unique
First 13 weeks:   991 /   1000 = 99.1% unique
First 14 weeks:   991 /   1000 = 99.1% unique
First 15 weeks:   991 /   1000 = 99.1% unique
First 16 weeks:   993 /   1000 = 99.3% unique
First 17 weeks:   993 /   1000 = 99.3% unique
First 18 weeks:   993 /   1000 = 99.3% unique
First 19 weeks:   994 /   1000 = 99.4% unique
First 20 weeks:   994 /   1000 = 99.4% unique
First 21 weeks:   994 /   1000 = 99.4% unique
First 22 weeks:   995 /   1000 = 99.5% unique
First 23 weeks:   995 /   1000 = 99.5% unique
First 24 weeks:   995 /   1000 = 99.5% unique
First 25 weeks:   995 /   1000 = 99.5% unique
First 26 weeks:   995 /   1000 = 99.5% unique
First 27 weeks:   996 /   1000 = 99.6% unique
First 28 weeks:   996 /   1000 = 99.6% unique
First 29 weeks:   996 /   1000 = 99.6% unique
First 30 weeks:   996 /   1000 = 99.6% unique
First 31 weeks:   996 /   1000 = 99.6% unique
First 32 weeks:   996 /   1000 = 99.6% unique
First 33 weeks:   997 /   1000 = 99.7% unique
First 34 weeks:   997 /   1000 = 99.7% unique
First 35 weeks:   997 /   1000 = 99.7% unique
First 36 weeks:   997 /   1000 = 99.7% unique
First 37 weeks:   997 /   1000 = 99.7% unique
First 38 weeks:   997 /   1000 = 99.7% unique
First 39 weeks:   997 /   1000 = 99.7% unique
First 40 weeks:   997 /   1000 = 99.7% unique
First 41 weeks:   997 /   1000 = 99.7% unique
First 42 weeks:   997 /   1000 = 99.7% unique
First 43 weeks:   997 /   1000 = 99.7% unique
First 44 weeks:   997 /   1000 = 99.7% unique
First 45 weeks:   997 /   1000 = 99.7% unique
First 46 weeks:   997 /   1000 = 99.7% unique
First 47 weeks:   997 /   1000 = 99.7% unique
First 48 weeks:   997 /   1000 = 99.7% unique
First 49 weeks:   997 /   1000 = 99.7% unique
First 50 weeks:   997 /   1000 = 99.7% unique
First 51 weeks:   997 /   1000 = 99.7% unique
First 52 weeks:   997 /   1000 = 99.7% unique

In [85]:
df

,user_id,num_unique_cohort_ids,per_unique_cohort_ids,per_same_cohort_ids,cohort_ids,hash_2,hash_3,hash_4,hash_5,hash_6,...,hash_44,hash_45,hash_46,hash_47,hash_48,hash_49,hash_50,hash_51,hash_52,hash_1
0,0,11,0.211538,0.788462,"[3712, 3711, 3712, 3712, 3712, 3713, 3712, 371...",3713773366844838806,-3221681671288611076,1948830787764254248,-8634360210119168190,-4446858204340374931,...,-8450268823570815607,7194355327570377755,4897554313458962970,-7483727350059080506,-3140005840947120430,-684306185600222562,4509380868917048432,-7563977565831129028,200837884227164851,3430658389475
1,1,12,0.230769,0.769231,"[19332, 19315, 3873, 3783, 3892, 3873, 19324, ...",3697427176142699206,8116630517089411379,-2697916410072935254,7010894597436877264,2706032664029844263,...,-4767046436142777684,4431231023139699168,-6759069191594479401,178128435980892043,5930627135352292313,6753823832831787911,-4227289482470362465,-41764461358092491,2850880841769314808,3415558344175
2,2,8,0.153846,0.846154,"[19899, 19899, 19899, 19899, 19899, 19899, 295...",3696811249463180581,-8493182514725314424,6905921207548655789,-5802237816646874610,-8794313374323006817,...,-6347188136518347916,6114588261438311343,4242886408024343820,2746055108397192066,-83469233595552602,3512141835643328069,-7781422890798788954,-2151023641332761197,-5017386472944491424,3414989342468
3,3,9,0.173077,0.826923,"[4404, 20044, 20044, 4404, 4404, 4404, 4404, 2...",3708875995773475331,-8865573625155724177,4758461364193601179,-9168294172148121177,-1822778179402188589,...,2400933593309322926,776036429097440820,-2343687167150284456,5785494262158538484,2603758652714718320,-7182422120445581798,-7876379416081946130,2300806770145392692,2209405230253276926,3426134375903
4,4,12,0.230769,0.769231,"[4161, 4171, 4161, 4161, 11040, 4171, 4161, 33...",3708578309911451931,-5196692860321281004,2124123002490019967,7233966432001997499,-2277296952952108318,...,6238636630178055015,757919227348366044,-1025786915599919857,5830421345096569154,5706712064902622401,4275398447321997700,-7008751639238040998,-697317973871005949,6848234228807310542,3425859375078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,7,0.134615,0.865385,"[4300, 4476, 4300, 4300, 4300, 11942, 4476, 43...",3708711469631623131,2367239997490178311,3663039955834282059,-2470262577641488849,7414979625506192845,...,-3370490711670179475,-934236427403772133,-7103019979164875907,-6515979307306195329,2159138486288590953,6729528547827614401,-513219591963826067,1010609226193901109,2477120348228957599,3425982375447
996,996,8,0.153846,0.846154,"[29588, 29497, 29498, 29448, 29722, 29498, 294...",3699626884806526756,6792318155010567244,6448142371911802496,-6288927581725615752,-5715971867993313434,...,5820737424299000251,-439665410770794113,6646838951595432919,-5238263798081483301,3998121284627589691,4721929331090300190,-2200681189339162094,-7994574191199859516,8609751432236153608,3417590350271
997,997,2,0.038462,0.961538,"[4476, 4476, 4476, 4476, 4479, 4476, 4476, 447...",3708798063612277931,-7426807495372473977,5137583336608574811,-3732382435381359276,3588167786557908592,...,7954488818248780062,-715280290905758857,540568721010841043,-2533217370500840921,-2305101312391361804,-7578399341252517216,2414865210440160583,7123298129238660792,-313322870602527465,3426062375687
998,998,9,0.173077,0.826923,"[4254, 4304, 4304, 4480, 4306, 3709, 11794, 43...",3708765587569996181,-8369569826638486247,-6642515216524900671,-5363612753051405105,6885717013902760132,...,6753513279209953088,5047365962073681266,561378282272829786,5284780592435220330,-3106429168247656326,5251163755950425156,8209363732692921318,-3898565160470865002,6022948482107266913,3426032375597
999,999,8,0.153846,0.846154,"[19908, 20137, 4482, 19915, 19915, 20130, 2012...",3696803670864786756,1124106793574708212,-3516943874613724877,320888973391775878,1477841353456261198,...,-8658693380019038459,8569612724736377280,5629016357443002651,4642601207539535621,5848331477482143812,2244870856763781653,8422871177927864748,610460535004793670,1600621296473685133,3414982342447

In [21]:
hash(tuple([1, 2, 4]))

2528502973976161366